---
layout: photos
permalink: /gallery/cameraman/
title: 摄影师たちの日常作品
not_in_list: "true"
---

<ul class = "grid jk-cards">

  {% for p in site.cameraman_gallery %}
    {%if p.page_type == "cameraman" %}
      <a class="click-able" href={{p.url}}>
        <li class="grid-item grid-sizer">
         <div class="jk-card">
          <img class="list-photo" src={{p.cover}}></img>
          <div class="jk-card-body">
            <p class="title">
             {{p.title}}
            </p>
            <div class="grey">
              <p class="intro">
               {{p.des}}
              </p>
              <p class="author">
              {{p.author}}
              </p>
            </div>
          </div>
          </div>
         </li>
       </a>
    {%endif%}
  {%endfor%}
</ul>

