@import "compass";
@import "base/variables";
.home-page-cover {
  width: 100%;
  z-index:1;
  position: relative;
  margin-bottom: 20px;
  height:490px;
  background-color: #000;
  @include box-shadow(rgba(0,0,0,.5) 0 2px 1px 0,rgba(0,0,0,0.5) 0 1px 0 0);
  &:after {
    background-image: url("http://7xl9ad.com1.z0.glb.clouddn.com/page-classroom.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include opacity(0.6);
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    content: "";
    top:0;
    left:0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1300px) {
  width: 100%;
  z-index:1;
  position: relative;
  margin-bottom: 20px;
  height:460px;
  .home-page-cover {
    @include box-shadow(rgba(0,0,0,.5) 0 2px 1px 0,rgba(0,0,0,0.5) 0 1px 0 0);
    background-image: url("http://7xl9ad.com1.z0.glb.clouddn.com/page-classroom.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
    content: "";
    top:0;
    left:0;
    margin-bottom: 20px;
  }
}

img.avatar {
  //width: 120px;
  //height: 140px;
  //@include border-radius(30px);
  width: 120px;
  height: 120px;
  @include border-radius(360px);
  @include box-shadow(rgba(0,0,0,0.8) 0 1px 1px 0);
  margin-top: 35%;
}

.group-intro {
  width: 300px;
  height: 100%;
  position:relative;
  margin: 0 auto;
  text-align: center;
}

.centrality {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}

.caption {
  margin-top: 30px;
  color: #fff;
  p {
    margin-bottom: 5px;
  }
}

a.photo-gallery {
  color: #b5fdff;
  //position: absolute;
  //right: 5px;
  //top: 10px;
  text-align: center;
  .glyphicon-camera {
    font-size: 50px;
  }
  p {
    font-size: 15px;
  }
  @media screen and (min-width: $screen-xs-max) {
    &:visited,&:hover,&:focus,&:active {
      text-decoration: none;
    }
    &:hover {
      @include opacity(0.8);
    }
  }
}
