@import "compass";
@import "compass/reset";
@import "base/variables";
@import "base/mixin";

dy, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: middle;
}

body {
  background-color: #edece9;
  line-height: 1.5;
}

.grid-item {
  width: 300px;
  float: left;
  margin: 7px 0;
  .loading {display:none;}
  &.is-loading {
    a.click-able {
      position: relative;
      margin:0 auto;
      display: block;
      width: 95%;
      background-color: #000;
      padding-bottom: 152%;
      @include border-radius(6px);
      img {
        display: none;
      }
    }

    .jk-card {
      .fill-color {
        position:relative;
        background-color: #000;
        padding-bottom: 150%;
        @include border-radius(6px 6px 0 0);
        &.cameraman {
          padding-bottom: 80%;
        }
      }
      .image-area {display:none;}
      img {display:none;}
    }

    .loading {
      display: block;
      z-index: 1;
      @include absolute-center();
      background-image: url("http://7xlbvq.com1.z0.glb.clouddn.com/assets/image/loading.gif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
  }
  &.grid-sizer {
    width: 25%;
  }
  @media screen and( max-width: $screen-md-min  ){
    &.grid-sizer {
      width: 50%;
    }
  }
  @media screen and( max-width: $screen-xs-min  ){
    &.grid-sizer {
      width: 100%;
    }
  }
}


.show-photo {
  margin:0 auto;
  width: 95%;
  display: block;
  @include border-radius(6px);
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));
}

.jk-cards {
  a.click-able {
    &:hover {
      img {
        @include scale(1.1);
      }
    }
    img {
      @include transition-duration(0.3s);
      @include scale(1.0);
    }
  }
}

a.click-able {
  &:hover {
    @include opacity(0.9);
    img {
      @include opacity(0.9);
    }
  }

  @media screen and( max-width: $screen-xs-max  ){
  &:hover {
    @include opacity(1);
    img {
      @include opacity(1);
    }
  }
  }
}

.jk-card {
  @include border-radius(6px);
  margin:0 auto;
  background-color:#fff;
  width: 95%;
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));
  color: #9e7e6b;
  img {
    @include border-radius(6px 6px 0 0);
  }
  .image-area {
    padding-bottom: 150%;
    height: 0;
    overflow: hidden;
    @include border-radius(6px 6px 0 0);
  }
}

.jk-card-body {
  line-height: 1.35em;
  overflow: hidden;
  word-wrap: break-word;
  .title {
    padding:0 16px;
    margin: 10px 0 10px 0;
    line-height: 1.35em;
    color: #444;
    font-size: 15px;
  }
  .grey {
    padding:8px 16px;
    @include border-radius(0 0 6px 6px);
    .intro {
    }
    .author {
    }
    font-size: 12px;
    background-color: #fafafa;
    border-top:1px solid #f2f2f2;
  }
}


img.xiaomai {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  @include border-radius(16px);
}

.portal-cover {
  .portal-cover-title {
    width: 100%;
    max-width:380px;
    margin:0 auto;
    position:absolute;
    font-size: 20px;
    left:0;
    right:0;
    top:50%;
    text-align: center;
    font-weight:bold;
    //z-index:1;
  }
  position:relative;
  &.cameraman-cover {
    .portal-cover-title {
      background-color: #000;
      @include opacity(1);
      color: #fff;
    }
  }
  &.jk-cover {
    .portal-cover-title {
      background-color: #fff;
      @include opacity(0.8);
      color: #000;
    }
  }
  margin: 50px 0;
  img {
    @include box-shadow(0 1px 3px rgba(0,0,0,.3));
    @include border-radius(12px);
    height: auto;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    display: block;
   // &:hover {
   //   z-index:-1;
   //   @include opacity(.8);
   // }
  }
}

@media screen and (max-width: $screen-md-max) {
  .portal-cover {
    img {
      max-width: 360px;
    }
    .portal-cover-title {
      max-width:360px;
    }
  }
}
