<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1;">
<meta name="keywords" content="JKたちの日常,JKたちの日常-杭州,日常,杭州,女高中生,JK制服,JK,水手服,英伦制服,西式制服,日式制服,こうこうせい, じょしこうこうせい">
<meta name="description" content="JKたちの日常是由高高（绅士？）发起的，用以普及JK知识和各种拍摄JK的摄影技巧">
<title>{{ site.title }}</title>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.map"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- Bootstrap -->
<link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/stylesheets/base/main.css" rel="stylesheet">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/favicon.ico" type="image/x-icon" rel=icon>
{% if page.css %}
  {% for css in page.css %}
  <link href="{{css}}" rel="stylesheet">
  {% endfor %}
{% endif %}
{% if page.js %}
  {% for js in page.js %}
  <script src="{{js}}"></script>
  {% endfor %}
{% endif %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
-->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/
html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
