<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
<title>{{ site.title }}</title>
<link href="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/stylesheets/base/main.css" rel="stylesheet">
<link href="/stylesheets/pages/photo.css" rel="stylesheet">
<link href="/stylesheets/components/navigationbar.css" rel="stylesheet">
<link href="http://cdn.staticfile.org/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/favicon.ico" type="image/x-icon" rel=icon>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.map"></script>
<script src="http://cdn.staticfile.org/masonry/3.1.5/masonry.pkgd.min.js"></script>
<script src="http://cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.min.js"></script>
<script src="/javascript/page/photo.js"></script>
<script src="http://cdn.staticfile.org/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script src="http://cdn.staticfile.org/lightbox2/2.7.1/js/lightbox.min.map"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdn.staticfile.org/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css">
<script src="http://cdn.staticfile.org/blueimp-gallery/2.15.2/js/blueimp-gallery.min.js"></script>

<!-- Bootstrap -->

{% if page.css %}
  {% for css in page.css %}
  <link href="{{css}}" rel="stylesheet">
  {% endfor %}
{% endif %}
{% if page.js %}
  {% for js in page.js %}
  <script src="{{js}}"></script>
  {% endfor %}
{% endif %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
-->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/
html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
