<aside class="about">
  <h3 class="aside-title">JK制服相关</h3>
  <div class="aside-content">
    <p><a href="http://site.douban.com/111657/">JK制服馆(豆瓣)-科普向</a></p>
  </div>
</aside>

<aside class="categories_list">
  <h3 class="aside-title">标签</h3>
  <div class="aside-content">
    {% categories_list %}
  </div>
</aside>

<aside class="qr_code">
  <img alt="default" style="width:200px;height:270px" class="q_code" src="http://7xl9ad.com1.z0.glb.clouddn.com/page-群二维码.png"></img>
</aside>
<!--<aside class="subscribe">
  <h3 class="aside-title">订阅</h3>
  <div class="aside-content">
    <p>订阅<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
  </div>
  </aside> -->
