<aside class="about hidden-sm hidden-xs">
  <h3 class="aside-title font-bold">JK制服相关</h3>
  <div class="aside-content">
    <p><a class="type1" href="http://site.douban.com/111657/">JK制服馆(豆瓣)-科普向</a></p>
  </div>
</aside>

<aside class="categories_list hidden-sm hidden-xs">
  <h3 class="aside-title font-bold">标签</h3>
  <div class="aside-content">
    {% categories_list %}
  </div>
</aside>

<aside class="qr_code">
  <img alt="default" style="width:200px;height:270px" class="q_code" src="http://assets.jk.gaoyh.me/page-群二维码.png"></img>
</aside>
<!--<aside class="subscribe">
  <h3 class="aside-title">订阅</h3>
  <div class="aside-content">
    <p>订阅<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
  </div>
  </aside> -->
