---
css:
  - /stylesheets/pages/homepage.css
  - /stylesheets/components/sidebar.css
---
{% include header.html %}
{% if page.hidden_home_page_cover != 'true' %}
  <div class="home-page-cover">
    <ul class="carousel">
      <li class="active" style="background-image:url('http://assets.jk.gaoyh.me/background/1.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/2.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/3.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/4.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/5.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/6.jpg')"></li>
      <li style="background-image:url('http://assets.jk.gaoyh.me/background/7.jpg')"></li>
    </ul>
    <div class="group-intro">
      <div class="group-icon">
        <img alt="avatar default" class="avatar" src="http://assets.jk.gaoyh.me/page-avatar.jpg"></img>
        <div class="cover"></div>
        <span class="glyphicon glyphicon-play" id="btnAudio" data-play="init"></span>
        <div class="loading hidden" id="musicLoading"></div>
      </div>
      <div class="caption">
        <h3>JKたちの日常-杭州</h3>
        <p>群号: 47024789</p>
        <a class="photo-gallery" href="/gallery">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          <br>
          <p>私たちの日常写真馆</p>
        </a>
      </div>
    </div>
  </div>
{% endif %}

<div class="content">
  <div class="container">
    <div class="row">
      {% if page.hidden_home_page_cover != 'true' %}
        <div class="main col-lg-8 col-md-8 col-sm-12 col-xs-12">
          {{ content }}
        </div>
        <div class="sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          {% include sidebar.html %}
        </div>
      {% else %}
        <div class="post-main col-md-8 col-sm-12 col-xs-12">
          {{ content }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% include footer.html %}
