---
css:
  - /stylesheets/pages/homepage.css
  - /stylesheets/components/sidebar.css
---
{% include header.html %}
<div class="home-page-cover">
  <div class="group-intro">
    <img alt="avatar default" class="avatar" src="http://7xl9ad.com1.z0.glb.clouddn.com/page-avatar.jpg"></img>
    <div class="caption">
      <h3>JKたちの日常-杭州</h3>
      <p>群号: 47024789</p>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="main col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {{ content }}
      </div>
      <div class="sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
