---
layout: photos
permalink: /photos/
page_type: photographer_list
---
{% include header.html %}
<div class="container">
  <div class="row">
    <ul class = "grid jk-cards">
      {% for i in (1..22) %}
      {% for p in site.photos %}
        {%if p.page_type != "photographer_list" %}
          <a href={{p.url}}>
            <li class="grid-item grid-sizer">
             <div class="jk-card">
              <img class="list-photo" src={{p.cover}}></img>
              <div class="jk-card-body">
                <p class="title">
                 {{p.title}}
                </p>
                <div class="grey">
                  <p class="intro">
                   {{p.des}}
                  </p>
                  <p class="author">
                  {{p.author}} <span style="color:#444">摄影</span>
                  </p>
                </div>
              </div>
              </div>
             </li>
           </a>
        {%endif%}
      {%endfor%}
      {%endfor%}
    </ul>
  </div>
</div>

{% include footer.html %}
